/**
 * The following styles get applied inside the editor only.
 *
 * Replace them with your own styles or remove the file completely.
 */

.wp-block-create-block-Author {
	border: 1px dotted #f03;
}
.post-author{
	display: grid;
}