ul.wp-block-blocks-course-author {
	list-style: none;
	padding: 0;
	margin: 0;
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: 30px;

	li {
	    background-color: #ffffff;
	   	border-radius: 8px;
	  	box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15);
	  	padding: 24px;
		img {
			margin-bottom: 10px;
			max-width: 100%;
		}

		h5 {
			font-size: 20px;
			margin: 0 0 5px;
			line-height: 1.4;

			a {
				color: #000;
			}
		}

		time {
			font-size: 12px;
			color: #969696;
		}

		p {
			font-size: 14px;
			color: #303030;
			line-height: 1.6;
			margin: 15px 0 0;
		}
	}

	@media screen and (max-width: 767px) {
		grid-template-columns: 1fr;

		li {
			padding: 15px;
			h5 {
				font-size: 18px;
			}

			time {
				font-size: 11px;
			}

			p {
				font-size: 13px;
			}
		}
	}
}
